@{
    ViewData["Title"] = "Burial Record";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model List<Burialmain>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="RecordFilter"> Filter</a>
    </div>
    <div>
        <a asp-area="" asp-controller="Home" asp-action="ClearFilters"> Reset Filter</a>
    </div>
<div class="container border">
    <div class="row border">
        <div class="col font-weight-bold text-center">
            Burial Records
        </div>
    </div>
    <div class="row border">
        <div class="col border font-weight-bold text-center">
            BurialID
        </div>
        <div class="col border font-weight-bold text-center">
            Burial Number
        </div>
        <div class="col border font-weight-bold text-center">
            Sex
        </div>
        <div class="col border font-weight-bold text-center">
            Age of Death
        </div>
        <div class="col border font-weight-bold text-center">
            Estimated Stature
        </div>
        <div class="col border font-weight-bold text-center">
            Depth
        </div>
        <div class="col border font-weight-bold text-center">
            Hair Color
        </div>
        <div class="col border font-weight-bold text-center">
            Head Direction
        </div>
        <div class="col border font-weight-bold text-center">
            Square North South
        </div>
        <div class="col border font-weight-bold text-center">
            North South
        </div>
        <div class="col border font-weight-bold text-center">
            Square East West
        </div>
        <div class="col border font-weight-bold text-center">
            East West
        </div>
        <div class="col border font-weight-bold text-center">
            Area
        </div>
        <div class="col border font-weight-bold text-center">
        </div>
    </div>
    @foreach (var x in Model)
    {
        <div class="row border">
            <div class="col border">
                @x.Burialid
            </div>
            <div class="col border">
                @x.Burialnumber
            </div>
            <div class="col border">
                @x.Sex
            </div>
            <div class="col border">
                @x.Ageatdeath
            </div>
            <div class="col border">
                @x.Length
            </div>
            <div class="col border">
                @x.Depth
            </div>
            <div class="col border">
                @x.Haircolor
            </div>
            <div class="col border">
                @x.Headdirection
            </div>
            <div class="col border">
                @x.Squarenorthsouth
            </div>
            <div class="col border">
                @x.Northsouth
            </div>
            <div class="col border">
                @x.Squareeastwest
            </div>
            <div class="col border">
                @x.Eastwest
            </div>
            <div class="col border">
                @x.Area
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="col border">
                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@x.Id">Edit Record</a>
                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@x.Id">Delete Record</a>
                </div>
            }
            else
            {

            }
        </div>
    }
    

    <div class="row mt-3">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    @if (ViewBag.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("BurialRecord", new { pageNum = ViewBag.CurrentPage - 1 })">Previous</a>
                        </li>
                    }

                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                            <a class="page-link" href="@Url.Action("BurialRecord", new { pageNum = i })">@i</a>
                        </li>
                    }

                    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("BurialRecord", new { pageNum = ViewBag.CurrentPage + 1 })">Next</a>
                        </li>
                    }

                </ul>
            </nav>
        </div>
    </div>
</div>
@* Just need a comment *@