@{
    ViewData["Title"] = "Burial Record";
}

@model List<Burialmain>

<div class="container border">
    <div class="row border">
        <div class="col font-weight-bold text-center">
            READ
        </div>
    </div>
    <div class="row border">
        <div class="col border font-weight-bold text-center">
            Square North South
        </div>
        <div class="col border font-weight-bold text-center">
            BurialID
        </div>
        <div class="col border font-weight-bold text-center">
            Sex
        </div>
        <div class="col border font-weight-bold text-center">
            Age of Death
        </div>
        <div class="col border font-weight-bold text-center">
            Estimated Stature
        </div>
        <div class="col border font-weight-bold text-center">
            Depth
        </div>
        <div class="col border font-weight-bold text-center">
            Head Direction
        </div>
        <div class="col border font-weight-bold text-center">
            Hair Color
        </div>
        <div class="col border font-weight-bold text-center">
            North South
        </div>
        <div class="col border font-weight-bold text-center">
            Square East West
        </div>
        <div class="col border font-weight-bold text-center">
            East West
        </div>
        <div class="col border font-weight-bold text-center">
            Area
        </div>
        <div class="col border font-weight-bold text-center">
            Burial Number
        </div>
    </div>
    @foreach (var x in Model)
    {
<div class="row border">
    <div class="col border">
        @x.Squarenorthsouth
    </div>
    <div class="col border">
        @x.Burialid
    </div>
    <div class="col border">
        @x.Sex
    </div>
    <div class="col border">
        @x.Ageatdeath
    </div>
    <div class="col border">
        @x.Length
    </div>
    <div class="col border">
        @x.Depth
    </div>
    <div class="col border">
        @x.Headdirection
    </div>
    <div class="col border">
        @x.Haircolor
    </div>
    <div class="col border">
        @x.Northsouth
    </div>
    <div class="col border">
        @x.Squareeastwest
    </div>
    <div class="col border">
        @x.Eastwest
    </div>
    <div class="col border">
        @x.Area
    </div>
    <div class="col border">
        @x.Burialnumber
    </div>
</div>
    }
    }
</div>